[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
Django = "==4.0.2"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
